* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
   justify-content: center;
   margin: 5vh;
  }

  header {
      background: #393636;
      width:70vw;
      padding: 2rem;
  }
  
  main {
    display: grid;
    place-items: center;
   justify-content: center;
   margin: 5vh;
   padding: 2em;
  }

   main:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }


ul {
    list-style: none;
}

a {
    color: orangered;
}

span {
    color: red;
}

section a {
    text-decoration: none;
}